DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=auditcloud_db
PORT=3000

FRONTEND_URL=http://192.168.30.1:4200

ELASTICSEARCH_ENABLED=true
ELASTICSEARCH_NODE=http://192.168.30.11:9200
ELASTICSEARCH_INDEX_AUDITORIAS=auditcloud_auditorias
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=
